body {
	background-color: $primary-color-4;
	color: $primary-color-3;
	overflow-x: hidden;
}


.container {
	max-width: 1100px + 40px;
	margin: 0 auto;
	padding: 0 20px;
	position: relative;
}

.hljs {
	background-color: transparent;
}

code {
	font-family: "Source Code Pro";
	font-size: 13px;
}