.language-javascript {

	.hljs-keyword { color: $color-keyword-js; }
	.hljs-variable { color: $color-obj-code; }
	.hljs-title { color: $color-method-code; }
	.hljs-string { color: $color-text-js-code; }
	.hljs-function { color: $color-keyword-js; }
}