.language-scss {

	.hljs-selector-class { color: $color-secector-class; }
	.hljs-attribute { color: $color-attribute; }
	.hljs-number { color: $color-number; }
	.hljs-selector-tag { color: $color-secector-tag; }
	.hljs-keyword { color: $color-keyword; }
	.hljs-selector-pseudo { color: $color-pseudo; }
	.hljs-string { color: $color-string; }
	.hljs-built_in { color: $color-palet-code; }
}