<template class="open-menu-temp">
	<div class="open-menu">
		<div class="open-menu__content">
			<ul class="open-menu__content-items">
				<li class="open-menu__content-item">
					<button data-type-code="html" class="open-menu__content-item-btn">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="36px" height="36px">
							<use href="#html" />
						</svg>
					</button>
				</li>
				<li class="open-menu__content-item">
					<button data-type-code="css" class="open-menu__content-item-btn">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="36px" height="36px">
							<use href="#css" />
						</svg>
					</button>
				</li>
				<li class="open-menu__content-item">
					<button data-type-code="js" class="open-menu__content-item-btn">
						<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 1052 1052">
							<use href="#js" />
						</svg>
					</button>
				</li>
				<li class="open-menu__content-item">
					<button data-type-code="demo" class="open-menu__content-item-btn">
						<svg fill="#ffffff" width="36px" height="36px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.88 73.7">
							<use href="#demo" />
						</svg>
					</button>
				</li>
			</ul>
		</div>
	</div>
</template>