<div class="settings">
	<div class="settings__wrapper">
		<div class="settings__content">
			<h2 class="settings__content-title">Settings</h2>
			<ul class="settings__content-items">
				<li class="settings__content-item">
					<h4 class="settings__content-item-title">Install basic property of color</h4>
					<div class="settings__content-item-wrapper">
						<ul class="settings__content-item-params">
							<li class="settings__content-item-param">
								<input checked label="rgb" value="color-rgb" id="color-1" name="color" type="radio" class="settings__content-item-param-input input-settings">
							</li>
							<li class="settings__content-item-param">
								<input label="hsl" value="color-hsl" id="color-2" name="color" type="radio" class="settings__content-item-param-input input-settings">
							</li>
							<li class="settings__content-item-param">
								<input label="hex" value="color-hex" id="color-3" name="color" type="radio" class="settings__content-item-param-input input-settings">
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>