@mixin reset-btn {
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
}

@mixin reset-btn-span {
	color: transparent;
	font-size: 0;
}

@mixin set-base-animate-icon-1 {
	&::before {
		top: 0;
		transform: rotate(-45deg);
	}

	&::after {
		bottom: 0;
		transform: rotate(45deg);
	}	
}

@mixin set-base-animate-icon-2 {
	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
	}
}