.open-menu {
	max-width: 75%;
	width: 100%;

	transition: all $animate * 1.5 ease-out;

	&.open-menu-disable {
		visibility: hidden;
		opacity: 0;
		width: 30%;
	}

	&.open-menu-active {
		visibility: visible;
		opacity: 1;
		width: 100%;
		margin-left: 14px;
	}

	&__content {

		&-items {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&-item {
			display: flex;

			&-btn {

				svg {
					transition: transform $animate ease;
				}

				&:hover {
					svg {
						transform: scale(1.1);
					}
				}
			}
		}
	}
}