.demo-code {
	width: 200%;
	padding: 4px 10px;
	background-color: $primary-color-6;
	margin-top: 26px;
	border-radius: 8px;
	position: relative;

	&.demo-code--classes {
		padding: 16px 20px
	}

	&__container {
		position: relative;

		&-back-btn {
			position: absolute;
			right: 0;
			top: 0;

			&-wrapper {
				position: relative;
			}

			&-title {
				position: absolute;
				top: -32px;
				left: 50%;
				transform: translateX(-50%);

				font-size: 12px;

				padding: 4px 8px;
				border-radius: 4px;
				background-color: $primary-color-5;

				opacity: 0;
				visibility: hidden;

				transition: opacity $animate ease;
			}

			&:hover {
				.demo-code__container-back-btn-title {
					opacity: 1;
					visibility: visible;
					transition-delay: 0.4s;
				}

				.demo-code__container-btn-copy {
					background-color: $primary-color-5;
				}
			}
		}

		&-btn-copy {
			padding: 4px;
			transition: background-color $animate ease;
			border-radius: 4px;
		}
	}

	&__content {

		&-items {
			display: flex;
			align-items: center;
		}

		&-item {
			margin-right: 12px;
			display: flex;
			flex-direction: column;
			align-items: center;

			&-btn {
				color: $primary-color-3;
				font-size: 16px;
				padding: 4px 6px;
				border-radius: 4px;
				border: 1px solid $primary-color-3;
			}

			&-add {
				margin-top: 6px;
				display: flex;
				width: 100%;
				justify-content: center;
				position: relative;

				&-btn {
					padding: 4px 0px;
					width: 100%;

					&:hover {
						~.demo-code__content-item-add-back-title {
							opacity: 1;
							visibility: visible;
							transition-delay: 0.4s;
						}
					}
				}

				&-back-title {
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					width: 100px;
					top: 32px;
					z-index: 1;

					visibility: hidden;
					opacity: 0;

					transition: all $animate ease;
				}

				&-title {
					font-size: 12px;
					padding: 4px 8px;
					border-radius: 4px;
					background-color: $primary-color-5;
				}
			}
		}
	}
}