$primary-color-1: #fc910d;
$primary-color-2: #383838;
$primary-color-3: #fefefe;
$primary-color-4: #111111;
$primary-color-5: #2b2e4a;
$primary-color-6: #282c34;
$primary-color-7: #404754;

$black-color: #000000;

// CODE HTML
$color-tag-code: #f07279;
$color-content-code: #bdbebf;
$color-attr-code: #ffcc6b;
$color-text-code: #c4e98e;
$color-close_tag-code: #8adeff;

// CODE CSS
$color-secector-class: #ffcc6b;
$color-secector-tag: #f07279;
$color-attribute: #bdbebf;
$color-number: #f58c6a;
$color-keyword: #c490e6;
$color-pseudo: #e2f2f2;
$color-string: #8adeff;
$color-palet-code: #82abfd;

// CODE JS
$color-keyword-js: #c692e9;
$color-var_content-code: #eeffff;
$color-method-code: #82abfd;
$color-limitation-code: #8adeff;
$color-class-code: #8adeff;
$color-int-code: #f78d6b;
$color-text-js-code: #c4e98e;
$color-obj-code: #ffcc6b;

$animate: 0.2s;