@font-face{
    font-family: 'Source Code Pro';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('../SourceCodePro-Light.woff2') format('woff2'),
         url('../SourceCodePro-Light.woff') format('woff');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('../SourceCodePro-Regular.woff2') format('woff2'),
         url('../SourceCodePro-Regular.woff') format('woff');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    src: url('../SourceCodePro-Medium.woff2') format('woff2'),
         url('../SourceCodePro-Medium.woff') format('woff');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('../SourceCodePro-Semibold.woff2') format('woff2'),
         url('../SourceCodePro-Semibold.woff') format('woff');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('../SourceCodePro-Bold.woff2') format('woff2'),
         url('../SourceCodePro-Bold.woff') format('woff');
}