*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

button {
    outline: none;
    color: transparent;
    font-size: 0;
    border: 0;
    cursor: pointer;
    background: transparent;
}