.btn-menu-fries {
	padding: 17px 5px;

	span {
		position: relative;
		display: block;
		width: 33px;
		height: 5px;
		border-radius: 4px;
		background-color: $primary-color-3;

		&::before,
		&::after {
			position: absolute;
			content: "";
			width: 44px;
			height: 5px;
			border-radius: 4px;
			background-color: $primary-color-3;
			left: 0;
		}

		&::before {
			top: -12px;
		}

		&::after {
			bottom: -12px;
		}
	}
}