.btn-menu-hamburger {
	padding: 17px 5px;
	@include reset-btn;

	span {
		position: relative;
		display: block;
		width: 44px;
		height: 5px;
		border-radius: 4px;
		background-color: $primary-color-3;
		transition: all $animate ease;
		@include reset-btn-span;

		&::after,
		&::before {
			position: absolute;
			content: "";
			width: 44px;
			height: 5px;
			border-radius: 4px;
			background-color: $primary-color-3;
			left: 0;
			transition: all $animate ease;
		}

		&::before {
			top: -12px;
		}

		&::after {
			bottom: -12px;
		}
	}

	&.btn-menu-hamburger-1 {
		span {
			background-color: transparent;

			@include set-base-animate-icon-1;
		}
	}

	&.btn-menu-hamburger-2 {
		span {
			background-color: transparent;

			@include set-base-animate-icon-2;
		}
	}
}