.btn-menu-hamburger {
	padding: 17px 5px;

	span {
		position: relative;
		display: block;
		width: 44px;
		height: 5px;
		border-radius: 4px;
		background-color: $primary-color-3;
		transition: all $animate ease;

		&::before,
		&::after {
			position: absolute;
			content: "";
			width: 44px;
			height: 5px;
			border-radius: 4px;
			background-color: $primary-color-3;
			left: 0;
			transition: all $animate ease;
		}

		&::before {
			top: -12px;
		}

		&::after {
			bottom: -12px;
		}
	}

	&.btn-menu-hamburger-1 {

		span {
			background-color: transparent;

			&::before {
				top: 0;
				transform: rotate(-45deg);
			}

			&::after {
				bottom: 0;
				transform: rotate(45deg);
			}
		}
	}

	&.btn-menu-hamburger-2 {

		span {
			background-color: transparent;

			&::before {
				top: 0;
			}

			&::after {
				bottom: 0;
			}
		}
	}
}