.btn-menu-hotdog {
	padding: 17px 5px;
	@include reset-btn;

	span {
		position: relative;
		display: block;
		width: 44px;
		height: 5px;
		border-radius: 4px;
		background-color: $primary-color-3;
		transition: all $animate ease;
		@include reset-btn-span;

		&::after, 
		&::before {
			position: absolute;
			content: "";
			width: 75%;
			height: 5px;
			border-radius: 4px;
			background-color: $primary-color-3;
			left: 50%;
			transform: translateX(-50%);
			transition: all $animate ease;
		}

		&::before {
			top: -12px;
		}

		&::after {
			bottom: -12px;
		}
	}

	&.btn-menu-hotdog-1 {
		span {
			background-color: transparent;

			&::after,
			&::before {
				width: 100%;
				left: 0;
			}

			@include set-base-animate-icon-1;
		}
	}

	&.btn-menu-hotdog-2 {
		span {
			background-color: transparent;

			&::after,
			&::before {
				width: 100%;
			}

			@include set-base-animate-icon-2;
		}
	}
}